name: "simple-build-test"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
      - "master"
    paths:
      - "Dockerfile*"
      - "Makefile"

jobs:
  docker_buildx_debian:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1

      - name: Build the amd64 version of the Debian image
        run: make all

      - name: Check for new/changed hook libraries
        run: docker run kea-hooks:local ls -1 /hooks | diff .github/kea_hook_libraries.list -


  docker_buildx_alpine:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1

      - name: Build the amd64 version of the Alpine image
        run: make all-alpine

      - name: Check for new/changed hook libraries
        run: docker run kea-hooks:local-alpine ls -1 /hooks | diff .github/kea_hook_libraries.list -
